<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/common.css" th:href="@{/css/common.css}" />
  <title>Banking CMS - Клиенты</title>
</head>
<body>
  <div th:replace="~{fragments :: head-frag}"></div>
  <div class="body">
    <div th:replace="~{fragments :: menu-frag}"></div>
    <div class="content">
      <div class="content-block">
        <h2>Список клиентов</h2>
        <div class="list clickable-container">
          <div th:each="customer : ${customers}">
            <a class="no-link-style"
               href="./customer-info.html"
               th:href="@{/customers/{login}/info(login=${customer.login})}"
               th:text="${customer.surname} + ' ' + ${customer.forename} + ' | ' + ${customer.login}">
              Клиент 1 | abc
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>