<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Banking CMS</title>
</head>
<body>
<div class="head"
     th:fragment="head-frag"
     th:replace="~{ ::head-frag-template ('Управление счетами (администратор)')}">
</div>
<div class="head"
     th:fragment="head-frag-user"
     th:replace="~{ ::head-frag-template ('Управление счетами')}">
</div>
<div class="head" th:fragment="head-frag-template (headtitle)">
  <h1 th:text="${headtitle}">Название страницы</h1>
  <div class="head-user">
    <h2 th:text="${user}">Логин</h2>
    <h2>
      <a href="" th:href="@{/logout}">
        <button>Выйти</button>
      </a>
    </h2>
  </div>
</div>
<div class="body">
  <div class="menu no-link-style" th:fragment="menu-frag">
    <a href="" th:href="@{/customers}"><h2>Клиенты</h2></a>
    <a href="" th:href="@{/transfer}"><h2>Перевод</h2></a>
  </div>
  <div class="content">
    <p class="problem"
       th:fragment="problem-frag"
       th:unless="${#strings.isEmpty(problem)}"
       th:text="${problem}">
      Here may appear error message
    </p>
    <p class="success"
       th:fragment="success-frag (msg)"
       th:if="${#bools.isTrue(success)}"
       th:text="${msg}">
      Here may appear success message
    </p>
  </div>
</div>
</body>
</html>