spring:
  application.name: accounts

  jpa:
    hibernate.ddl-auto: update
    show-sql: false

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  http.client:
    connect-timeout: 3s
    read-timeout: 2s

  security:
    oauth2:
      client:
        registration:
          accounts-client-reg:
            provider: keycloak
            client-id: ${auth.client-id}
            client-secret: ${auth.client-secret}
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
        provider:
          keycloak:
            token-uri: ${auth.server-uri}/realms/${auth.realm}/protocol/openid-connect/token

  cache:
    jcache:
      provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
    cache-names:
      - bucket4j-rate-limit
    caffeine:
      spec: maximumSize=1000000,expireAfterAccess=3600s

  data.redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    connect-timeout: 1s
    timeout: 1s
    repositories.enabled: false

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer.value-serializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer

auth:
  server-uri: ${KEYCLOAK_URI}
  realm: ${KEYCLOAK_REALM}
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

client.converter:
  grpc: true
  host: ${CONVERTER_HOST}
  port: ${CONVERTER_PORT}

bucket4j:
  enabled: true
  methods:
    - name: customer-balance
      cache-name: bucket4j-rate-limit
      rate-limit:
        bandwidths:
          - capacity: 5
            time: 60
            unit: seconds
            refill-speed: greedy

grpc.client.converter:
  address: ${client.converter.host}:${client.converter.port}
  enable-keep-alive: true
  keep-alive-without-calls: true
  negotiation-type: PLAINTEXT

idempotency:
  enabled: true
  ttl: 30s
