spring:
  application.name: accounts

  jpa:
    hibernate.ddl-auto: update
    show-sql: false

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  cache:
    jcache:
      provider: com.github.benmanes.caffeine.jcache.spi.CaffeineCachingProvider
    cache-names:
      - bucket4j-rate-limit
    caffeine:
      spec: maximumSize=1000000,expireAfterAccess=3600s

  data.redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    connect-timeout: 1s
    timeout: 1s
    repositories.enabled: false

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        "[spring.json.trusted.packages]": "edu.vl4ds4m.banking.admin.dto"

client:
  converter:
    grpc: true
    host: ${CONVERTER_HOST}
    port: ${CONVERTER_PORT}

bucket4j:
  enabled: true
  methods:
    - name: customer-balance
      cache-name: bucket4j-rate-limit
      rate-limit:
        bandwidths:
          - capacity: 5
            time: 60
            unit: seconds
            refill-speed: greedy

grpc:
  client:
    converter:
      address: ${client.converter.host}:${client.converter.port}
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: PLAINTEXT

idempotency.ttl: 30s

services:
  kafka:
    topic.update-config: ${KAFKA_TOPIC_UPD_CFG}
