// reset link style
a.no-link-style,
.no-link-style a {
  color: inherit;
  text-decoration: none;
}

a.no-link-style:link,
.no-link-style a:link {
  color: inherit;
  text-decoration: none;
}

a.no-link-style:visited,
.no-link-style a:visited {
  color: inherit;
  text-decoration: none;
}

a.no-link-style:focus,
.no-link-style a:focus {
  color: inherit;
  text-decoration: none;
}

a.no-link-style:hover,
.no-link-style a:hover {
  color: inherit;
  text-decoration: none;
}

a.no-link-style:active,
.no-link-style a:active {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

.head {
  color: white;
  display: flex;
  padding: 0 20px;
  background: grey;
  align-items: center;
  justify-content: space-between;
}

.body {
  flex: 1;
  display: flex;
}

.menu {
  flex: 1;
  border-right: solid grey 2px;
  display: flex;
  flex-direction: column;
}

.menu > * {
  font-size: 1.2em;
  margin: 0.3em 0;
  padding: 0.5em;
  padding-left: 2em;
  padding-end: 1.5em;
}

.menu > :first-child {
  margin-top: 0.3em;
}

.menu > :hover {
  background: yellow;
  cursor: pointer;
}

.content {
  flex: 4;
  padding: 1em 2em;
}

.content-block > :nth-child(n + 2) {
  padding-left: 1em;
}

.content-block > :last-child {
  margin-bottom: 2em;
}

.list > * {
  margin: 1.2em 0;
}

.clickable-container > :hover {
  color: blue;
  cursor: pointer;
}

.success {
  color: green;
}

.problem {
  color: red;
}
